body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.pink-highlight{
    color: rgb(204, 10, 75);
    font-weight: bold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.top-background{
    background-image: url("images/header-bg.png");
    
}
.biography-background{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    
    
    
}
.bottom{
    background-image: url("images/footer-bg.png");
    margin-top: 20px;

}
.link-button{
    text-decoration: none;
    background-color: rgba(211, 70, 117, 0.986);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(50deg, rgba(211, 70, 117, 0.986), rgba(204, 24, 84, 0.986));
}
.link-button1{
    text-decoration: none;
    background-color: rgba(211, 70, 117, 0.986);
    padding: 0px 200px 70px 200px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(50deg, rgba(211, 70, 117, 0.986), rgba(204, 24, 84, 0.986));
    
    
}
.work{
    width: 32%;
    height: auto;
    float: left;
    padding: 0px 5px;

}
div.middle{
    text-align: center;
    
  }

.work img{
    width: 100%
}
#ceo{
    color: rgb(99, 91, 91);
}
#email-box{
    margin: auto;
    width: 40%;
    height: 100px;
    padding: 10px;
    background-color: rgb(207, 12, 110);
    border-radius: 15px;
    text-align: center;
    color: white;
}
#nounderline{
    text-decoration: none;
    color: rgb(8, 240, 189);

}


}

footer p{
    text-align: center;
    color: rgb(119, 113, 113);
}

