body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
#my-name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.pink-highlight{
    color: rgb(204, 10, 75);
    font-weight: bold;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 200px;
}
.top-background{
    background-image: url("images/header-bg.png");
    
}
.biography-background{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    
}
.latest-work{
    background-image: url("images/latest-work-bg.png");
    padding-top: 20px;
       
}

.bottom{
    background-image: url("images/footer-bg.png");
    padding-top: 20px;
    height: 450px;
}

.link-button{
    text-decoration: none;
    background-color: rgba(211, 70, 117, 0.986);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-image: linear-gradient(50deg, rgba(211, 70, 117, 0.986), rgba(204, 24, 84, 0.986));
}

.work{
    width: 32%;
    height: auto;
    float: left;
    padding: 0px 5px;
}

div.middle{
    text-align: center;
    font-weight: bold;
    
}
.single-experience{
    box-shadow: 10px 10px 35px rgb(99, 92, 92);
    border-radius: 5px;
    height: 55%;
}
.experience-zone{
    background-image: url("images/biography-bg.png");
    padding-top: 40px;
    height: 500px;
}
#full-stack{
    border-left: 8px solid;
    border-image: linear-gradient(orange, orangered);
    border-image-slice: 1;
}
#web-learner{
    border-left: 8px solid;
    border-image: linear-gradient(green, rgb(6, 207, 174));
    border-image-slice: 1;
}

.work img{
    width: 100%
}
#ceo{
    color: rgb(83, 83, 83);
}
#email-box{
    margin: auto;
    width: 40%;
    height: 100px;
    padding: 20px;
    background-color: rgb(207, 12, 110);
    border-radius: 15px;
    text-align: center;
    color: white;
    
}
.xyz{
    padding: 0px 0px 5px 0px;
}
footer p{
    text-align: center;
    color: rgb(27, 27, 27);
}


